<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <title>Form</title>
</head>

<body>
    <h2>Client data</h2>
    <div class="content">
        
    <div class="form_wrapper">
        
        <form action="" method="POST" id="simple_form" name="form" >
            <div>
                <label for="Date">Pick the Date <input type="date" name="datetime" id="date" /></label>
            </div>
            <div>
                <label for="client">Client
                    <input type="text" name="client" id="client" placeholder="V02"/></label>
            </div>
            <div>
                <label for="type">Type
                    <select name="type" id="type">
                        <option value="email">Email</option>
                        <option value="wacall">waCall</option>
                        <option value="wamsg">waMsg</option>
                        <option value="mobile">Mobile</option>
                        <option value="sms">Sms</option>
                    </select>
                </label>
            </div>
            <div>
                <label for="description">Description
                    <input type="description" name="description" id="description" placeholder="Account opening in BIL"
                    /></label>
            </div>
            <div>
                <label for="status">Status
                    <input type="text" name="status" id="status" placeholder="done" /></label>
            </div>
            <div>
                <button type="button" onclick="handleSubmit()">Submit</button>
            </div>
        </form>
       
    </div>

     <!-- Create table to show preview of client data -->
    <table id="prev-results">
        <thead>
            <tr>
                <th>Datetime</th>
                <th>Client</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody id="clients-data-tbody"></tbody>
    </table>
    <div id="submited-value-body"></div>
</div>
   
    

    <script>
        //displays currrent date
        document.getElementById("date").valueAsDate = new Date();
        const submitedValueBody = document.querySelector("#submited-value-body");

        //Submit form data
        const form = document.querySelector("#simple_form");

        function handleSubmit(event) {
            const data = new FormData(form);
            const reqBody = Object.fromEntries(data.entries());
            submitedValueBody.innerHTML = "";

            //Checking if all fields filled out

            for (const key in reqBody) {
                if (!reqBody[key] || !reqBody[key].trim()) {
                    alert("All fields must be filled out");
                    return;
                }
            }

            postData("http://localhost:3000/form", "POST", reqBody).then((res) => {
                form.reset();
                document.getElementById("date").valueAsDate = new Date();
                if (Array.isArray(res.data)) {
                    rendTable(res.data);
                }
            });
        }

        postData("http://localhost:3000/get-clients", "GET").then((res) => {
            if (Array.isArray(res.data)) {
                rendTable(res.data);
            }
        });


        //Render table
        function rendTable(data) {
            const tbody = document.querySelector("#clients-data-tbody");
            tbody.innerHTML = "";

            for (const item of data) {
                const tr = document.createElement("tr");
                tbody.append(tr);
                for (const key in item) {
                    if (item[key]) {
                        const td = document.createElement("td");
                        td.innerText = item[key];
                        tr.append(td);
                    }
                }
            }
        }

        async function postData(url = "", method, data = null) {
            const response = await fetch(url, {
                method, // *GET, POST, PUT, DELETE, etc.
                headers: {
                    "Content-Type": "application/json",
                },
                body: data ? JSON.stringify(data) : null,
            });

            return await response.json();
        }

    </script>
</body>

</html>