* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
h2 {
    text-align: center;
}
.form_wrapper {
    width: 50%;
    /* margin: 0 auto; */
    text-align: center; 
    display: flex;
    justify-content: center;
}

div {
    padding-top: 10px;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  
  input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 20px;
    padding: 8px;
  }


  #type {
    width: 55%;
    margin-left: 20px;
  }

  #submit {
    width: 80px;
    height: 30px;
  }

  #submited-value-body {
    text-align: center;
  }

  button {
    padding: 10px;
  }

  table {
    border-collapse: collapse;
  }

  td, th {
    padding: 10px;
    border: 1px solid #000;
  }

  .content {
    display: flex;
  }

  #prev-results {
    
    height: fit-content;
  }